
.btn{
    color: aquamarine;
    margin: 10px;
    background-color: blue;
    padding: 10px 15px;
    border-radius: 5px;
}


.hide{
    display: none;
}

.hover{
    font-weight: bold;
}

.enable{
    background-color: aquamarine;
    color: tomato;
}

.disable{
    background-color: brown;
    color:blueviolet;
}