#h1-lorem{
    color:springgreen;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: overline;
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    border: 5px solid black;
    padding-top: 5px;
    font-size: 40px;
    
    background-image: url("WhatsApp\ Image\ 2025-06-27\ at\ 21.54.29_adac8f66sakib.jpg");

    
    
}

.container{
    background-color: orange;
    border: 2px solid black;
    display: grid;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;

}


#box1{
    border: 2px solid blueviolet;
}
#box2{
    border: 2px solid blueviolet;
}
#box3{
    border: 2px solid blueviolet;
}
#box4{
    border: 2px solid blueviolet;
}
#box5{
    border: 2px solid blueviolet;
}
#box6{
    border: 2px solid blueviolet;
}
#box7{
    border: 2px solid blueviolet;
    grid-row: 2/4;
}
#box8{
    border: 2px solid blueviolet;
}
#box9{
    border: 2px solid blueviolet;
}
#box10{
    border: 2px solid blueviolet;
}
#box11{
    border: 2px solid blueviolet;
}
#box12{
    border: 2px solid blueviolet;
}